@import "./base/base";
@import "./utils/variables";
@import "./utils/classes.scss";
@import "./layouts/components";



body{
    
    background-color: $dark;
    max-width: 1300px;
    margin-inline: auto;
   
}

#wrapper{
    overflow: hidden;
    position: relative;
    margin-inline: auto;
    max-width: 100vw;
    // padding: 0 50px;
    padding: 0 3.125rem;

   
    @media only screen and (max-width: 1000px)
    {
        padding-right: 0;
    }

    @media only screen and (max-width: 780px){
        padding: 0 0.75rem;
    }
    
}

@media only screen and (max-width: 1000px)
{
   .skills, .projects, .contact{
        padding-right: 3.125rem;
   }
}

@media only screen and (max-width: 780px){
    .skills, .projects, .contact{
        padding: 0 0.75rem;
   }
}

.presentation{
    position: relative;
}

.link-section{
    width: 100%;
    justify-content: space-between;
    padding: 15px;
    
}

@media only screen and (max-width: 780px){
    .logo{
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    .link-section{
        flex-direction: column;
        align-items: center;
        
    }
}


.block-overlay{
    z-index: 10;   
    position: absolute;
    top: 0;
    left: 0;
}

.social-media li{
    margin-right: 25px;
    @media only screen and (max-width: 780px){
        margin-right: 0;
    }
}

@media only screen and (max-width: 780px){
    .social-media{
        width: 70%;
        justify-content: space-evenly;
       
    }
}



.social-media svg:hover path{
    fill: $mint;
}

.profile-section{
    border-bottom: 2px solid $white-gray;
    padding-bottom: 50px;

    @media only screen and (max-width: 780px){
        flex-direction: column-reverse;
    }
}

.profile-section__description-1{
    font-size: $fs-xl;
    @media only screen and (max-width: 780px){
        font-size: 2.5rem;
        text-align: center;
    }
}

.profile-section__description-2{
    @media only screen and (max-width: 780px){
        text-align: center;
    }
}

.profile-section .left{
   
    padding-top: 100px;
    width: 80%;
    @media only screen and (max-width: 780px){
        width: 100%;
    }
}



.profile-section .right{
    width: 20%;
    @media only screen and (max-width: 780px){
        width: 100%;
    }
}

@media only screen and (max-width: 780px){
    .profile-section .left{
        text-align: center;
    }

    .profile-photo{
        width: 70%;
        margin-inline: auto;
        margin-top: 50px;
        opacity: 0.7;
    }
}


.profile-section__description-2{
    max-width: 500px;
    padding: 30px 0;
}
.name{
    border-bottom: 2px solid $mint;
}


.circle-1{
    position: absolute;
    width: 200px;
    top: 60%;
    left: -100px;
    @media only screen and (max-width: 780px){
        
       left: 80%;
    }

    @media only screen and (max-width: 1000px)
    {
        top: 65%;
        left: 75%;
        
    }
}


.rings{
    position: absolute;
    top: 10%;
    left: -250px;
}

.skills{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 20vh;

    @media only screen and (max-width: 750px){
        flex-direction: column;
        align-items: center;
        border-bottom: 2px solid $white;
        padding-bottom: 75px;
    }


    
   
    .circle-2{
        
        @media screen and (min-width: 1100px){
                width: 50%;
        }

        @media screen and (max-width: 750px){
            width: 100%;
            transform: translate(60%, 50%);
        }

        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(60%, 50%);
        z-index: 5;
        width: 100%;
        
        // transform: translateX(200%);
    }

}

.skill-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    @media only screen and (max-width: 750px){
        align-items: center;
    }
}


.projects{
    margin-bottom: 15vh;
}

.projects__header{
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10vh;
}

.fix-height{
    height: fit-content;
}


figure{
    position: relative;
    cursor: pointer;

    @media  only screen and (min-width: 1100px) {
    .view-project{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 500px;
        height: 86%;
        opacity: 0;
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        align-items: center;
        transition: opacity 0.2s ease;
        background-color: hsla(0, 0%, 0%, 0.6);
}

        &:hover  .view-project{
            opacity: 0.9;
        }

    
        

     
}

    @media only screen and (max-width: 1100px){
        .view-project{
            display: none;
        }
    }

    
}

@media only screen and (max-width: 780px){
    .view-project .contact-button{
        font-size: 0.5rem;
    }
    
}



figure img{
    width: 100%;
    max-width: 500px;
   
}

.projects__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.project{
    width: 45%;
    margin-bottom: 5vh;
    
    @media only screen and (min-width: 1100px){
            position: relative;
    }
}

.view-project{
    display: block;
    @media only screen and (min-width: 1100px){
            display: none;
    }
}





.show {
    display: flex;
  }



.project img{
    width: 100%;
    height: 100%;
}

.technology{
    display: flex;
    gap: 1rem;
    @media only screen and (max-width: 780px){
        font-size: 0.75rem;
    }
}


.contact{
    position: relative;
    overflow: hidden;
}

.rings-2{
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-50%, -150%);
    
}


.contact-block{
    display: flex;
    padding: 3.125rem;

    @media only screen and (max-width: 1100px){
        padding: 30px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 200px;

        .left{
            margin-bottom: 25px;
            text-align: center;
        }

       
        
       
    }
}
.contact-block .left, .contact-block .right{
    width: 50%;
    @media only screen and (max-width: 1000px){
            width: 80%;       
    }
}

.contact-header{
    padding: 0 0 25px 0;
}

.contact-description{
    max-width: 400px;
    line-height: 1.5;
    @media only screen and (max-width: 1000px){
        margin-inline: auto;
    }
    
    
}

.contact textarea{
    width: 100%;
    height: 200px;
    padding: 10px;
   
}

.contact textarea::placeholder{
    text-align: left;
}

.contact .right{
    position: relative;
}

.contact button{
    margin-top: 25px;
    position: absolute;
    right: 0%;
}

.footer-link{
    
    width: calc(90% + 2.5rem);
    border-top: 1px solid $white;
    margin: auto;
    margin-top: 50px;
    padding: 50px;
}

figcaption{
    font-size: $fs-m;
    @media only screen and (max-width: 780px){
        font-size: 0.75rem;
    }
}

.project-title{
    font-size: $fs-xl;
    @media only screen and (max-width: 780px){
        font-size: 2rem;
    }
}

.projects__header .contact-button{
    @media only screen and (max-width: 780px){
        font-size: 0.75rem;
    }
}

.technology-title{
    font-size: $fs-l;
    @media only screen and (max-width: 780px){
        font-size: 2rem;
    }
}

.alert{

    display: none;
    padding-top: 10px;
    text-align: right;
    color:rgba(255, 111, 91, 1);
    font-size: 0.75rem;
}












