*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
select,
button,
textarea {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  min-height: 100vh;
}

ul li {
  list-style: none;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.gap-1 {
  gap: 1rem;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-25 {
  margin-bottom: 15px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-right-15 {
  margin-right: 15px;
}

.letter-spacing-2 {
  letter-spacing: 2px;
}

.padding-r-10 {
  padding-right: 10px;
}

.padding-t-10 {
  padding-top: 10px;
}

.padding-l-10 {
  padding-left: 10px;
}

.padding-r-15 {
  padding-right: 15px;
}

.padding-t-15 {
  padding-top: 15px;
}

.padding-l-15 {
  padding-left: 15px;
}

.padding-b-15 {
  padding-bottom: 15px;
}

.bold-700 {
  font-weight: 700;
}

.bold-400 {
  font-weight: 400;
}

.bold-300 {
  font-weight: 300;
}

.width-50 {
  width: 50%;
}

.width-100 {
  width: 50%;
}

.line-height {
  line-height: 28px;
}

.uppercase {
  text-transform: uppercase;
}

.bg-red {
  background-color: red;
}

.clr-dark {
  color: hsl(0, 0%, 8%);
}

.clr-mint {
  color: hsl(153, 71%, 59%);
}

.clr-dark-gray {
  color: hsl(0, 0%, 14%);
}

.clr-white-gray {
  color: hsl(0, 0%, 85%);
}

.clr-white {
  color: hsl(0, 0%, 100%);
}

.bg-dark {
  background-color: hsl(0, 0%, 8%);
}

.bg-mint {
  background-color: hsl(153, 71%, 59%);
}

.bg-dark-gray {
  background-color: hsl(0, 0%, 14%);
}

.bg-white-gray {
  background-color: hsl(0, 0%, 85%);
}

.bg-white {
  background-color: hsl(0, 0%, 100%);
}

.ff-primary {
  font-family: "Space Grotesk", sans-serif;
}

.fs-xl {
  font-size: 5.5rem;
}

.fs-l {
  font-size: 3rem;
}

.fs-m {
  font-size: 1.5rem;
}

.fs-s {
  font-size: 1.125rem;
}

.fs-vm {
  font-size: 12px;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 90vw;
}

.box {
  width: 200px;
  height: 100px;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 100%);
  margin-bottom: 25px;
  font-weight: 700;
}

#typography {
  margin-top: 50px;
}

.interactive-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 550px;
  height: 440px;
  border: 1px solid hsl(0, 0%, 8%);
}

.contact-button {
  border: none;
  background-color: transparent;
  border-bottom: 3px solid hsl(153, 71%, 59%);
  padding: 0 0 10px 0;
  cursor: pointer;
}

.contact-button:hover {
  color: hsl(153, 71%, 59%);
}

.input-line__field {
  border: none;
  outline: none;
  padding: 15px;
  background-color: transparent;
  color: hsl(0, 0%, 100%);
}

.input-line__field::placeholder {
  font-family: "Space Grotesk", sans-serif;
  color: hsl(0, 0%, 100%);
}

.border-input {
  position: relative;
  background-color: hsl(0, 0%, 85%);
  height: 2px;
  width: 100%;
}

.border-input::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 0%;
  background-color: hsl(153, 71%, 59%);
  height: 2px;
  transition: 0.2s;
}

.input-line__field:focus + .border-input::after {
  width: 100%;
}

body {
  background-color: hsl(0, 0%, 8%);
  max-width: 1300px;
  margin-inline: auto;
}

#wrapper {
  overflow: hidden;
  position: relative;
  margin-inline: auto;
  max-width: 100vw;
  padding: 0 3.125rem;
}
@media only screen and (max-width: 1000px) {
  #wrapper {
    padding-right: 0;
  }
}
@media only screen and (max-width: 780px) {
  #wrapper {
    padding: 0 0.75rem;
  }
}

@media only screen and (max-width: 1000px) {
  .skills, .projects, .contact {
    padding-right: 3.125rem;
  }
}
@media only screen and (max-width: 780px) {
  .skills, .projects, .contact {
    padding: 0 0.75rem;
  }
}
.presentation {
  position: relative;
}

.link-section {
  width: 100%;
  justify-content: space-between;
  padding: 15px;
}

@media only screen and (max-width: 780px) {
  .logo {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .link-section {
    flex-direction: column;
    align-items: center;
  }
}
.block-overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}

.social-media li {
  margin-right: 25px;
}
@media only screen and (max-width: 780px) {
  .social-media li {
    margin-right: 0;
  }
}

@media only screen and (max-width: 780px) {
  .social-media {
    width: 70%;
    justify-content: space-evenly;
  }
}
.social-media svg:hover path {
  fill: hsl(153, 71%, 59%);
}

.profile-section {
  border-bottom: 2px solid hsl(0, 0%, 85%);
  padding-bottom: 50px;
}
@media only screen and (max-width: 780px) {
  .profile-section {
    flex-direction: column-reverse;
  }
}

.profile-section__description-1 {
  font-size: 5.5rem;
}
@media only screen and (max-width: 780px) {
  .profile-section__description-1 {
    font-size: 2.5rem;
    text-align: center;
  }
}

@media only screen and (max-width: 780px) {
  .profile-section__description-2 {
    text-align: center;
  }
}

.profile-section .left {
  padding-top: 100px;
  width: 80%;
}
@media only screen and (max-width: 780px) {
  .profile-section .left {
    width: 100%;
  }
}

.profile-section .right {
  width: 20%;
}
@media only screen and (max-width: 780px) {
  .profile-section .right {
    width: 100%;
  }
}

@media only screen and (max-width: 780px) {
  .profile-section .left {
    text-align: center;
  }
  .profile-photo {
    width: 70%;
    margin-inline: auto;
    margin-top: 50px;
    opacity: 0.7;
  }
}
.profile-section__description-2 {
  max-width: 500px;
  padding: 30px 0;
}

.name {
  border-bottom: 2px solid hsl(153, 71%, 59%);
}

.circle-1 {
  position: absolute;
  width: 200px;
  top: 60%;
  left: -100px;
}
@media only screen and (max-width: 780px) {
  .circle-1 {
    left: 80%;
  }
}
@media only screen and (max-width: 1000px) {
  .circle-1 {
    top: 65%;
    left: 75%;
  }
}

.rings {
  position: absolute;
  top: 10%;
  left: -250px;
}

.skills {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 20vh;
}
@media only screen and (max-width: 750px) {
  .skills {
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid hsl(0, 0%, 100%);
    padding-bottom: 75px;
  }
}
.skills .circle-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(60%, 50%);
  z-index: 5;
  width: 100%;
}
@media screen and (min-width: 1100px) {
  .skills .circle-2 {
    width: 50%;
  }
}
@media screen and (max-width: 750px) {
  .skills .circle-2 {
    width: 100%;
    transform: translate(60%, 50%);
  }
}

.skill-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
@media only screen and (max-width: 750px) {
  .skill-container {
    align-items: center;
  }
}

.projects {
  margin-bottom: 15vh;
}

.projects__header {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10vh;
}

.fix-height {
  height: fit-content;
}

figure {
  position: relative;
  cursor: pointer;
}
@media only screen and (min-width: 1100px) {
  figure .view-project {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 86%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s ease;
    background-color: hsla(0, 0%, 0%, 0.6);
  }
  figure:hover .view-project {
    opacity: 0.9;
  }
}
@media only screen and (max-width: 1100px) {
  figure .view-project {
    display: none;
  }
}

@media only screen and (max-width: 780px) {
  .view-project .contact-button {
    font-size: 0.5rem;
  }
}
figure img {
  width: 100%;
  max-width: 500px;
}

.projects__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.project {
  width: 45%;
  margin-bottom: 5vh;
}
@media only screen and (min-width: 1100px) {
  .project {
    position: relative;
  }
}

.view-project {
  display: block;
}
@media only screen and (min-width: 1100px) {
  .view-project {
    display: none;
  }
}

.show {
  display: flex;
}

.project img {
  width: 100%;
  height: 100%;
}

.technology {
  display: flex;
  gap: 1rem;
}
@media only screen and (max-width: 780px) {
  .technology {
    font-size: 0.75rem;
  }
}

.contact {
  position: relative;
  overflow: hidden;
}

.rings-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-50%, -150%);
}

.contact-block {
  display: flex;
  padding: 3.125rem;
}
@media only screen and (max-width: 1100px) {
  .contact-block {
    padding: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 200px;
  }
  .contact-block .left {
    margin-bottom: 25px;
    text-align: center;
  }
}

.contact-block .left, .contact-block .right {
  width: 50%;
}
@media only screen and (max-width: 1000px) {
  .contact-block .left, .contact-block .right {
    width: 80%;
  }
}

.contact-header {
  padding: 0 0 25px 0;
}

.contact-description {
  max-width: 400px;
  line-height: 1.5;
}
@media only screen and (max-width: 1000px) {
  .contact-description {
    margin-inline: auto;
  }
}

.contact textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
}

.contact textarea::placeholder {
  text-align: left;
}

.contact .right {
  position: relative;
}

.contact button {
  margin-top: 25px;
  position: absolute;
  right: 0%;
}

.footer-link {
  width: calc(90% + 2.5rem);
  border-top: 1px solid hsl(0, 0%, 100%);
  margin: auto;
  margin-top: 50px;
  padding: 50px;
}

figcaption {
  font-size: 1.5rem;
}
@media only screen and (max-width: 780px) {
  figcaption {
    font-size: 0.75rem;
  }
}

.project-title {
  font-size: 5.5rem;
}
@media only screen and (max-width: 780px) {
  .project-title {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 780px) {
  .projects__header .contact-button {
    font-size: 0.75rem;
  }
}

.technology-title {
  font-size: 3rem;
}
@media only screen and (max-width: 780px) {
  .technology-title {
    font-size: 2rem;
  }
}

.alert {
  display: none;
  padding-top: 10px;
  text-align: right;
  color: rgb(255, 111, 91);
  font-size: 0.75rem;
}

/*# sourceMappingURL=main.css.map */
