
// colors//

$dark: hsl(0, 0%, 8%);
$mint: hsl(153, 71%, 59%);
$dark-gray: hsl(0, 0%, 14%);
$white-gray: hsl(0, 0%, 85%);
$white: hsl(0, 0%, 100%);

//  font-family  //
$ff-primary: 'Space Grotesk', sans-serif;

// font-size //
$fs-xl: 5.5rem;
$fs-l: 3rem;
$fs-m: 1.5rem;
$fs-s: 1.125rem;



$color-property: (dark: hsl(0, 0%, 8%), mint: hsl(153, 71%, 59%),
 dark-gray: hsl(0, 0%, 14%), white-gray: hsl(0, 0%, 85%), white: hsl(0, 0%, 100%));

$font-property: (fs-xl: 5.5rem, fs-l: 3rem, fs-m: 1.5rem, fs-s: 1.125rem );







